@{
    ViewData["Title"] = "FastMechanical sua solução de atendimento";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

</div>

<div class="w-100 d-flex justify-content-center align-items-center">
    <img src="./images/image_home.png" class="w-75"/>
</div>
