@{
    ViewData["Title"] = "Pagina restrita";

}


<div class="flex-row mt-5">
    <div style="text-align: center;" class="col-12">
        <span class="display-3">Acesso Negado</span>
    </div>
</div>